.bottom-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 50px;
}
.navbb.navbb {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	text-align: start;
	line-height: 60px;
}
.navbbcon {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;
}
.btnbb {
	padding: 14px 25px;
	font-size: 1.2rem;
}

.bottom-banner {
	padding: 50px;
	padding-top: 100px;
}
.chef-bb {
	max-width: 100%;
	max-height: 100%;
}
